body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  color: #fff;
  background: #000;
  font-family: pragmatica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
